files/

source/burn.c
source/command.c
source/edit.c
source/julia.c
source/mandelbrot.c
source/plasma.c
source/raycast.c
source/rotozoom.c
source/sound.c
source/stranded.c
source/tracker.c
source/tunnel.c
source/voxel.c

# Non-Shareware Data
mods/

# Prevent Redundant/Old Game Data
*.wad

# Prevent Local Binary Inclusion
doom.exe
default.cfg

# No object files, user builds themselves
*.o
win32/*.o
source/*.o
source/doom/*.o